:root {
  --player-class-colour-Deathknight: #C41F3B;
  --player-class-colour-Druid: #FF7D0A;
  --player-class-colour-Hunter: #A9D271;
  --player-class-colour-Mage: #40C7EB;
  --player-class-colour-Monk: #00FF96;
  --player-class-colour-Paladin: #F58CBA;
  --player-class-colour-Priest: #FFFFFF;
  --player-class-colour-Rogue: #FFF569;
  --player-class-colour-Shaman: #0070DE;
  --player-class-colour-Warlock: #8787ED;
  --player-class-colour-Warrior: #C79C6E;
  --player-class-colour-Unknown: #FFFFFF;
  --item-quality-colour-Poor : #9d9d9d;
  --item-quality-colour-Common : #ffffff;
  --item-quality-colour-Uncommon : #1eff00;
  --item-quality-colour-Rare : #0070dd;
  --item-quality-colour-Epic : #a335ee;
  --item-quality-colour-Legendary : #ff8000;
  --item-quality-colour-Artifact : #e6cc80;
  --item-quality-colour-Heirloom : #00ccff;
  --faction-colour-Alliance: #0072bc;
  --faction-colour-Horde: #f50606;
  --reputation-colour-hostile: #ff0000;
  --reputation-colour-unfriendly: #f26000;
  --reputation-colour-neutral: #e4e400;
  --reputation-colour-friendly: #33ff33;
  --ui-colour-chat: #FEC1C0;
  --ui-colour-system: #FFFF00;
  --ui-colour-guild: #3CE13F;
  --ui-colour-officer: #40BC40;
  --ui-colour-party: #AAABFE;
  --ui-colour-leader: #77C8FF;
  --ui-colour-spells: #67BCFF;
  --ui-colour-quest: #CC9933;
  --ui-colour-health: #73D22E;
  --ui-colour-mana: #0000FF;
}